<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <hr class="buffer">
                <ul class="list-inline buffer text-light">
                    <li>
                        <a href="https://github.com/iamstuartwilson" title="github"><i class="fa fa-github text-larger"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/iamstuartwilson" title="twitter"><i class="fa fa-twitter text-larger"></i></a>
                    </li>
                    <li>
                        <a href="http://www.strava.com/athletes/318175" title="strava"><i class="fa fa-trophy text-larger"></i></a>
                    </li>
                    <li>
                        <a href="http://instagram.com/iamstuartwilson/" title="instagram"><i class="fa fa-instagram text-larger"></i></a>
                    </li>
                    <li>
                        <a href="https://uk.linkedin.com/pub/stuart-wilson/86/1aa/a24" title="linkedin"><i class="fa fa-linkedin text-larger"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
