<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-right">
                <hr class="buffer">
                <ul class="list-inline buffer text-light">
                    <li><a href="https://github.com/iamstuartwilson"><i class="fa fa-github"></i></a></li>
                    <li><a href="https://twitter.com/iamstuartwilson"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="http://www.strava.com/athletes/318175"><i class="fa fa-trophy"></i></a></li>
                    <li><a href="http://instagram.com/iamstuartwilson/"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://uk.linkedin.com/pub/stuart-wilson/86/1aa/a24"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

{{pages}}
