<header>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <nav class="buffer text-larger">
                    <a href="/" class="link-inherit no-underline text-bold"><img src="/img/bolt-icon.svg" alt="yes" class="text-icon"> Stuart Wilson.</a>
                    <a href="/work" class="text-sans-serif text-light text-uppercase text-smaller pull-right no-underline">Work</a>
                </nav>
            </div>
        </div>
    </div>
</header>
