<header>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <nav class="buffer text-larger">
                    <a href="/" class="logo"><img src="/img/bolt-icon.svg" alt="yes" class="text-icon"> Stuart Wilson.</a>
                    <a href="/work" class="text-nav">Wørk</a>
                </nav>
            </div>
        </div>
    </div>
</header>
