<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>
        {{#if title}}
            {{title}} |
        {{/if}}
        Stuart Wilson | iamstuartwilson.com
        </title>

        <link href='//fonts.googleapis.com/css?family=Domine:400,700|Lato:300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    </head>
    <body>
        {{> header}}

        {{#if pageBorder}}
            <hr class="margin-reset">
        {{/if}}

        <section class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    {{{body}}}
                </div>
            </div>
        </section>

        {{> footer}}
    </body>
</html>
